.header_wrapper {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px 30px 40px;
	color: white;

	.chevron {
		transform: rotate(180deg);
		margin-bottom: 4px;
	}

	.burger {
		display: none;
	}

	ul {
		display: flex;
		justify-content: start;
		align-items: center;
		list-style: none;
		margin-bottom: 0;

		li {
			position: relative;
			margin-left: 40px;
			cursor: pointer;
		}

		li::after {
			content: '';
			position: absolute;
			width: 0px;
			height: 3px;
			left: 50%;
			bottom: 0;
			background-color: white;
			transition: all ease-in-out 0.2s;
		}

		li:hover::after {
			width: 100%;
			left: 0;
		}
	}
}

@media screen and (max-width: 992px) {
	.header_wrapper {
		.burger {
			display: block;
			width: 35px;
			height: 35px;
		}

		ul {
			display: none;
		}
	}
}
